<ng-container *ngIf="loading; else articlesPage">
    <app-loader></app-loader>
</ng-container>
  
<ng-template #articlesPage>
    <app-filter-input (keywordChange)="filterArticles($event)"></app-filter-input>
    <section class="results">
        <p class="results-info">Results: {{articles.length}}</p>
    </section>
    <div class="articles">
        <app-article 
            *ngFor="let article of articles" 
            [article]="article" 
            [filterKeywords]="filterKeywords">
        </app-article>
    </div>
    <mat-paginator 
        #paginator
        class="paginator"
        [length]="articlesCount"
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [pageSizeOptions]="[5, 10, 25, 50, 100]"
        (page)="onPageChange($event)">
    </mat-paginator>
</ng-template>
